<form #loginForm="ngForm"  (ngSubmit)="login(loginForm)">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h3 style="color: chocolate;">Giriş Yap</h3>
            <img src="assets/profil.png" style="width:7rem; align-items: center;">



            <div class="form-label-group">
              <label class="form-label" style="font-size: 1rem;" for="inputEmail">Email </label>
              <input
                type="text"
                #email="ngModel"
                [(ngModel)]="model.email"
                id="inputEmail"
                class="form-control"
                name="email"
                placeholder="Email giriniz :"
              />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label"  style="font-size: 1rem;" for="inputPassword">Şifre</label>
              <input
                type="password"

                #password="ngModel"
                [(ngModel)]="model.password"
                id="inputPassword"
                name="password"
                class="form-control form-control-lg"
                placeholder="Şifre :)"
              />
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-start mb-4">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="form1Example3"
              />
              <label class="form-check-label"  style="font-size: 1rem;padding-left: 5px;" for="form1Example3">
                 Şifremi unuttum </label
              >
            </div>

            <div class="row">
              <div class="col-lg-11">
                <button
                  class="btn btn-primary btn-lg btn-block"
                  type="submit"
                  style="width: 110%;"

                >
                  Giriş
                </button>

              </div>
              <div class="google-button-container">
                <asl-google-signin-button
                  *ngIf="!user"
                  type="icon"
                  size="medium"
                ></asl-google-signin-button>
                <label for="google-signin" class="google-label"> Google'la Devam Et</label>
              </div>

            </div>

            <!-- <hr class="my-4"> -->

            <!-- <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                type="submit"><i class="fab fa-google me-2"></i> Google'la devam et</button> -->
            <!-- <asl-google-signin-button *ngIf="!user" type='icon' size='large' routerLink="/two"> </asl-google-signin-button> -->

            <!-- <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                type="submit"><i class="fab fa-facebook-f me-2"></i>Facebook'la devam et </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
